@model IEnumerable<finalPidev.Models.Customer>

@{
    ViewBag.Title = "AffecterProductToBasket";
}

<h2>Success</h2>

<h3>Le produit est bien ajouté au panier</h3>

<a href="@Url.Action("Create", "Customers")" class="btn btn-success"><i class="fa fa-pencil"></i>procéder au paiement</a>