@model IEnumerable<finalPidev.Models.Product>
@{
    ViewBag.Title = "GetBasketProducts";
}


<!-- top-header -->


<h2>everyhthing is okay put basket products in here </h2>



@Html.Partial("_Footer")




<a href="@Url.Action("Create", "Customers")" class="btn btn-success"><i class="fa fa-pencil"></i>procéder au paiement</a>